<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Share rates</title>
</head>
<body bgcolor="#ffffcc" style="margin:4px; font-family: Tahoma, 'MS Sans Serif', sans-serif; font-size:10px;">
  <p style="margin:0 0 4px 0; font-weight:bold; color:#000080;">Today's share rates</p>
  <table width="100%" border="1" cellspacing="0" cellpadding="2" bordercolor="#808080">
    <caption style="text-align:left; font-weight:bold;">Posted APY</caption>
    <tr bgcolor="#000080" style="color:#ffffff;"><th scope="col">Share</th><th scope="col">APY</th></tr>
    <tr><td>Regular</td><td>0.15%</td></tr>
    <tr bgcolor="#ffffff"><td>Vacation</td><td>0.20%</td></tr>
    <tr><td>Holiday</td><td>0.20%</td></tr>
    <tr bgcolor="#ffffff"><td>IRA</td><td>0.40%</td></tr>
  </table>
</body>
</html>
