<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>RHCU MemberLink 2003</title>
</head>
<body bgcolor="#000080" text="#ffffff" style="margin:0; font-family: Tahoma, 'MS Sans Serif', sans-serif; font-size:12px;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#000080">
    <tr>
      <td style="padding:6px 10px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="font-size:18px; font-weight:bold; color:#ffff00;">Riverton Heritage Credit Union</td>
            <td align="right" style="color:#ffffff;">MemberLink 2003 &nbsp;|&nbsp; Intranet only</td>
          </tr>
          <tr>
            <td colspan="2" style="font-size:11px; color:#99ccff;">Operations &gt; Member Services &gt; Back Office</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td bgcolor="#c0c0c0" style="padding:4px;">
        <iframe
          id="ctl00$MainContentFrame"
          name="MainContent"
          title="Main content"
          src="{{ iframe_src }}"
          width="100%"
          height="560"
          frameborder="1"
          style="background:#ffffff; border:2px inset #808080;">
        </iframe>
      </td>
    </tr>
    <tr>
      <td style="padding:4px 10px; font-size:10px; color:#cccccc;">
        IIS 5.0 &nbsp;|&nbsp; ASP.NET 1.1.4322 &nbsp;|&nbsp; Server RHCU-BO-01 &nbsp;|&nbsp; Do not email member data
      </td>
    </tr>
  </table>
</body>
</html>
